gateways/_template/flows.template.json
[
    {
        "id": "tab-floor-{{FLOOR}}",
        "type": "tab",
        "label": "Floor {{FLOOR}}",
        "disabled": false,
        "info": "Dual-protocol gateway for floor {{FLOOR}}: ingest 10 CoAP observable resources, re-publish as MQTT to HiveMQ, translate MQTT commands to CoAP PUT, compute 60s floor averages, and dedup DUP retransmits."
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "hivemq",
        "port": "1883",
        "clientid": "gateway-floor-{{FLOOR}}",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "campus/b01/f{{FLOOR}}/gateway/status",
        "birthQos": "1",
        "birthPayload": "{\"status\":\"online\"}",
        "closeTopic": "campus/b01/f{{FLOOR}}/gateway/status",
        "closeQos": "1",
        "closePayload": "{\"status\":\"offline\"}"
    },
    {
        "id": "coap-observe-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "CoAP Observe bank (rooms 11-20)",
        "func": "// Stub: in the real Node-RED runtime this is replaced by 10 coap-request nodes in observe mode, one per CoAP room on the floor (rooms 11-20).\n// The concrete URLs are derived at runtime from the floor env var:\n//   coap://app:{5683 + floor*100 + room}/f{FLOOR}/r{floor*100+room}/telemetry\n// Each notification is forwarded to the mqtt-out node below.\nreturn msg;",
        "outputs": 1,
        "x": 220,
        "y": 80,
        "wires": [["dedup-f{{FLOOR}}"]]
    },
    {
        "id": "dedup-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "DUP dedup LRU (512)",
        "func": "// 512-entry LRU keyed by (topic, msg_id, payload_hash). Drops MQTT DUP retransmits so rule chains see each logical message once.\nconst seen = context.get('seen') || new Map();\nconst key = (msg.topic || '') + '|' + (msg.messageId || '') + '|' + (msg.payload ? JSON.stringify(msg.payload) : '');\nif (seen.has(key)) { return null; }\nseen.set(key, Date.now());\nif (seen.size > 512) {\n    const firstKey = seen.keys().next().value;\n    seen.delete(firstKey);\n}\ncontext.set('seen', seen);\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 80,
        "wires": [["mqtt-out-telemetry-f{{FLOOR}}", "average-f{{FLOOR}}"]]
    },
    {
        "id": "mqtt-out-telemetry-f{{FLOOR}}",
        "type": "mqtt out",
        "z": "tab-floor-{{FLOOR}}",
        "name": "HiveMQ telemetry out",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "hivemq-broker",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "average-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "60s rolling average",
        "func": "// Port of src/gateways/averaging.py — keeps a 60s window and emits a floor summary on the 60s inject tick.\nconst windowSeconds = 60;\nconst samples = context.get('samples') || [];\nconst now = Date.now() / 1000;\nif (msg.payload && msg.payload.temperature !== undefined) {\n    samples.push({\n        ts: now,\n        temp: msg.payload.temperature,\n        hum: msg.payload.humidity,\n        occ: msg.payload.occupancy ? 1 : 0,\n        room: msg.payload.sensor_id\n    });\n}\nwhile (samples.length && samples[0].ts < now - windowSeconds) samples.shift();\ncontext.set('samples', samples);\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "inject-60s-f{{FLOOR}}",
        "type": "inject",
        "z": "tab-floor-{{FLOOR}}",
        "name": "every 60s",
        "props": [{"p": "payload"}],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [["emit-summary-f{{FLOOR}}"]]
    },
    {
        "id": "emit-summary-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "emit summary",
        "func": "const samples = flow.get('samples_f{{FLOOR}}') || [];\nif (!samples.length) return null;\nconst n = samples.length;\nconst avgTemp = samples.reduce((s, x) => s + x.temp, 0) / n;\nconst avgHum = samples.reduce((s, x) => s + x.hum, 0) / n;\nconst occRatio = samples.reduce((s, x) => s + x.occ, 0) / n;\nconst rooms = new Set(samples.map(s => s.room)).size;\nmsg.topic = 'campus/b01/f{{FLOOR}}/summary';\nmsg.payload = {\n    window_seconds: 60,\n    samples: n,\n    rooms_seen: rooms,\n    avg_temperature: +avgTemp.toFixed(2),\n    avg_humidity: +avgHum.toFixed(2),\n    occupied_ratio: +occRatio.toFixed(3),\n    generated_at: Math.floor(Date.now() / 1000)\n};\nmsg.qos = 1;\nmsg.retain = true;\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 260,
        "wires": [["mqtt-out-telemetry-f{{FLOOR}}"]]
    },
    {
        "id": "mqtt-in-cmd-f{{FLOOR}}",
        "type": "mqtt in",
        "z": "tab-floor-{{FLOOR}}",
        "name": "cmd for floor {{FLOOR}}",
        "topic": "campus/b01/f{{FLOOR}}/+/cmd",
        "qos": "2",
        "datatype": "json",
        "broker": "hivemq-broker",
        "x": 220,
        "y": 360,
        "wires": [["route-cmd-f{{FLOOR}}"]]
    },
    {
        "id": "route-cmd-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "route cmd (MQTT vs CoAP)",
        "func": "// Topic pattern: campus/b01/fFF/rRRR/cmd\nconst parts = msg.topic.split('/');\nif (parts.length !== 5) return null;\nconst roomSeg = parts[3];\nconst roomNum = parseInt(roomSeg.replace('r', ''), 10);\nconst floorNum = parseInt(parts[2].replace('f', ''), 10);\nconst localRoom = roomNum - (floorNum * 100);\nmsg._targetRoom = localRoom;\nmsg._roomNum = roomNum;\nmsg._floorNum = floorNum;\nif (localRoom <= 10) {\n    // MQTT rooms: broker routes directly, gateway only taps for metrics.\n    msg._kind = 'mqtt';\n    return [msg, null];\n}\n// CoAP rooms: translate to CON PUT on the actuator resource.\nmsg._kind = 'coap';\nconst base = parseInt(global.get('coapBase') || 5683, 10);\nmsg.url = `coap://${global.get('nodeHost') || 'app'}:${base + floorNum * 100 + localRoom}/f${String(floorNum).padStart(2,'0')}/r${String(roomNum).padStart(3,'0')}/actuators/hvac`;\nmsg.method = 'PUT';\nmsg.confirmable = true;\nreturn [null, msg];",
        "outputs": 2,
        "x": 470,
        "y": 360,
        "wires": [["metrics-tap-f{{FLOOR}}"], ["coap-put-f{{FLOOR}}"]]
    },
    {
        "id": "metrics-tap-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "metrics tap",
        "func": "node.warn('mqtt cmd tapped for room ' + msg._roomNum);\nreturn null;",
        "outputs": 0,
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "coap-put-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "CoAP PUT CON (stub)",
        "func": "// Stub: in the real Node-RED runtime this is a coap-request node.\n// Inputs: msg.url, msg.method='PUT', msg.confirmable=true, msg.payload=JSON.\n// Output: ACK message with node's CHANGED response payload.\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 400,
        "wires": [["publish-response-f{{FLOOR}}"]]
    },
    {
        "id": "publish-response-f{{FLOOR}}",
        "type": "function",
        "z": "tab-floor-{{FLOOR}}",
        "name": "build response topic",
        "func": "msg.topic = `campus/b01/f${String(msg._floorNum).padStart(2,'0')}/r${String(msg._roomNum).padStart(3,'0')}/response`;\nmsg.qos = 1;\nmsg.retain = false;\nreturn msg;",
        "outputs": 1,
        "x": 1040,
        "y": 400,
        "wires": [["mqtt-out-response-f{{FLOOR}}"]]
    },
    {
        "id": "mqtt-out-response-f{{FLOOR}}",
        "type": "mqtt out",
        "z": "tab-floor-{{FLOOR}}",
        "name": "HiveMQ response out",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "hivemq-broker",
        "x": 1270,
        "y": 400,
        "wires": []
    }
]
